.main-container-home {
  margin: auto;
  //   border: 1px solid yellow;
  width: min(90%, 65em);
  border-radius: 10px;

  .top-sub-container {
    .name {
      border: 1px solid #27130c;
      border-radius: 10px 10px 0px 0px;
      height: 15vh;
      background-color: #27130c;
      h1 {
        color: white;
        margin: 0.5em 1rem 2rem 1rem;
        font-size: 4rem;
      }
    }

    .empty-background {
      background-color: #936d54;
      height: 15vh;
    }
  }

  .bottom-sub-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    h2 {
      color: white;
      margin: 1em;
      font-size: 2rem;
    }

    .bottom {
      // height: 20em;
      border: 1px solid yellow;
      padding: 1em;
      max-height: 25vh;
    }
    .about-me {
      background-color: #6e4835;

      img {
        width: 10em;
      }
      .about-me-bio {
        display: flex;

      }
    }

    .skills {
      background-color: #e9ddce;
    }

    .projects {
      background-color: #40271d;

      .project-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .project {
          img {
            max-width: 10em;
          }
        }
      }
    }
  }
}
